@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap");
header.jumbotron {
  text-align: center;
  background-image: url(https://travel.yilan.tw/Content/images/content/static/img-Find01-desktop.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
  text-shadow: 0 0 2px rgba(128, 128, 128, 0.5);
  letter-spacing: 2px;
  padding: 160px;
}

#rain_view {
  padding: 40px 0;
  color: #666;
}

h3 {
  text-align: left;

}

#raining {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: 40px;
}

.location {
  width: 240px;
  height: 150px;
  margin: 20px;
  border-radius: 5px;
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #666;
  background-color: rgba(81, 159, 179, 0.1);
  padding: 5px 0;
}

.progress {
  width: 140px;
  height: 25px;
  position: absolute;
  right: 0;
  transform: translate(30%, -20%) rotate(270deg);
  float: right;
  background-color: #EEF5F7;
  border-radius: 8px 0 0 8px;
  border-top: 1px solid #AABBCC;
  border-bottom: 1px solid #AABBCC;
  border-left: 2px solid #AABBCC;
}

.town {
  font-size: 18px;
  color: #fff;
  padding-left: 20px;
  background-color: #66aabb;
}

.stop {
  font-size: 22px;
  font-weight: 700;
  padding: 5px 30px;
}

.amount {
  padding-left: 30px;
  color: #519FB3;
  font-size: 22px;
}