<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>宜蘭縣最新氣象預報</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<!-- 建立整體樣式指導：基礎字型、字體、基底色、標題、段落樣式等等 -->
	<link rel="stylesheet" type="text/css" href="/static/css/common.css" />
	<!-- 建立雨量觀測部份的樣式 -->
	<link rel="stylesheet" type="text/css" href="/static/css/raining.css" />

	<!-- 72小時天氣 樣式 -->
	<link rel="stylesheet" type="text/css" href="/static/css/72hours.css">
	<!-- 一週天氣 樣式 -->
	<link rel="stylesheet" type="text/css" href="/static/css/week.css">
</head>
<body>
	<!-- 美化雨量觀測顯示、資料處理或建立資料分頁功能 -->
	<header class="jumbotron">
		<div class="container">
		  <h1>宜蘭縣最新氣象預報</h1>
		</div>
	</header>
	  <section id="rain_view">
		<div class="container">
		  <div class="row">
			<div class="col-md-12">
			  <h3>日累積雨量</h3>
			  <div id="raining"></div>
			</div>
		  </div>
		<div>
	  </section>

	<!--
		完成各縣市氣象預報功能
		請使用中央氣象局公開 API 的第一個資料集 (/v1/rest/datastore/F-C0032-001)
		https://opendata.cwb.gov.tw/dist/opendata-swagger.html?urls.primaryName=openAPI#/
	-->

	{% include  "72hours.html" %}

	{% include "week.html" %}

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	<script>
		// 以下是我申請的 KEY 請使用無所謂，你也可以自己去中央氣象局網站申請一個
		// https://opendata.cwb.gov.tw/index
		const CWB_API_KEY="CWB-2EF6C203-2256-404D-AD80-5E9DE0982C6A";
	</script>
	<script src="/static/js/raining.js"></script>
	<script src="/static/js/72hours.js"></script>
	<script src="/static/js/week.js"></script>
</body>
</html>